<div class ="container">
  <h3>ジャンル名編集</h3>
  <div class = "row mt-5">
    <div class ="col-8">
      <%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch do |f| %>
      <%= f.text_field :name, size:"50" %>
      <%= f.submit '更新する', class:"btn btn-primary ml-2" %>
      <% end %>
    </div>
  </div>
</div>