<p></p>

<div class ="container">
  <h3>ジャンル名編集</h3>
  <div class = "row">
    <div class ="col-8">
      <%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch do |f| %>
      <%= f.text_field :name %>
      <%= f.submit '更新する', class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>