<div class ="container">
  <h3>
    募集記事編集
  </h3>

  <div class ="row mt-5">
    <div class ="col-lg-10 col-md-10 col-sm-12 col-12 mx-auto">
      
      <!--START 投稿エラー時のエラーメッセージ-->
      <%= render 'public/shared/error_messages', 
        resource: @recruit 
      %>
      <!--END　投稿エラー時のエラーメッセージ-->
      
      <!--START 募集記事編集フォーム-->
      <%= render 'public/shared/recruit_form', 
        recruit: @recruit, 
        genre: @genre, 
        sites: @sites 
      %>  
      <!--END 募集記事編集フォーム-->
      
    </div>
  </div>
</div>