<div class ="container">
  <h3>募集記事編集</h3>

  <div class ="row mt-5">
    <div class ="col-md-10 mx-auto">
      <%= render 'public/shared/error_messages', 
        resource: @recruit 
      %>
      
      <%= render 'public/shared/recruit_form', 
        recruit: @recruit, 
        genre: @genre, 
        sites: @sites 
      %>  
    </div>
  </div>
</div>