<div class ="container">
  <h3>
    募集履歴
  </h3>
  
  <div class ="row">
    <div class ="col-lg-10 col-md-10 col-sm-12 col-12 mt-3 mx-auto">
      
      <!--START 募集履歴表-->
      <%= render 'public/shared/recruit_or_entry_index', 
        recruits: @recruits 
      %>
      <!--END 募集履歴表-->
      
    </div>
  </div>
</div>