<div class ="container">
  <h3>募集記事作成</h3>
  <div class ="row mt-5">
    <div class ="col-lg-10 col-md-10 col-sm-8 col-xs-12 mx-auto">
    <%= render 'public/shared/error_messages', resource: @recruit %>
      
    <%= render 'public/shared/recruit_form', recruit: @recruit, genre: @genre, sites: @sites %>
    </div>
  </div>
</div>