<p></p>

<div class ="container">
  <h3>通知一覧</h3>
  <div class="row">
    <% if @unchecked_notifies.exists? %>
    <% @unchecked_notifies.each do |notify| %>
    <div class="my-2">
      
    </div>
    <% end %>
  </div>
</div>