// 追加
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.site_click{
  display: flex;
  justify-content: space-between;
}

.site-delete{
margin-right: 6px;
}

.genre-preview{
  display: flex;
  justify-content: space-between;
}

.recruit-buttons{
  display: flex;
  justify-content: flex-end;
}