// 追加
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.nav-item{
 width:120px !important;
}

.site_click{
  display: flex;
  justify-content: space-between;
}

.site-delete{
margin-right: 6px;
}

.genre-preview{
  display: flex;
  justify-content: space-between;
}


.registration-button{
  display: flex;
  justify-content: flex-end;
}


 .alert{
  background-color: #FFE100;
  color: black;
}

.chat-room-form{
   min-height: 280px;
}

.like_icon{
  color: #FF6388;
}

.reject-icon{
  color: #FF3333;
}

.bell-icon{
   color: orange;
}

.error_explanation{
  background-color: #ff381a;
  color: #FFFFFF;
}

.follow-icon{
  color: #6495ed;
}

.practice-type-form{
   width: 80px;
   white-space:nowrap;
}

.prefecture-form,
.municipality-form{
   width: 25%;
}

.footer{
    width: 100%;
}

.no-wrap{
    white-space:nowrap;
}

.green{
  color: #009900;
  font-weight:bold;
}

.gray{
  color:#a9a9a9;
  font-weight:bold;
}

.link{
  background:linear-gradient(transparent 80%, #87cefa 0%);
}

.link:hover{
  text-decoration: none;
  background:linear-gradient(transparent 80%, #ffb6c1 0%);
}

.space-between{
  display: flex;
  justify-content: space-between;
}

.name-form{
  width: 46%;
}

.address-form{
  width: 38%;
}

.password-form{
  width: 46%;
}

.club-name-form,
.e-mail-form{
  width: 75%;
}

.genre-form,
.age-group-form{
  width: 50%;
}

@media screen and (max-width: 640px) {
 
  .recruit-form-table,
  .user-information-table,
  .user-form-table,
  .admin-user-table{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .recruit-form-table th,
  .recruit-form-table td,
  .user-information-table th,
  .user-information-table td,
  .user-form-table th,
  .user-form-table td,
  .admin-user-table th,
  .admin-user-table td{
　　border-bottom: none;
    display: block;
    width: 100%;
  }
  .user-information-table th,
  .user-information-table td{
  text-align: center;
  }
  .user-information-table th{
  background-color: $gray-300;
  }
  .search{
    margin-bottom: 5px;
  }
  .search-submit{
    padding-bottom: 12px;
    border-bottom: 2px solid $gray-200;
  }
  
  .user-image{
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 991px) {
  .name-form,
  .address-form,
  .prefecture-form,
  .municipality-form,
  .password-form{
　　border-bottom: none;
    display: block;
    width: 100%;
  }
  .last-name-form,
  .password-confirmation-form,
  .address-form,
  .municipality-form{
    margin-top: 1px;
  }
}