// 追加
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.nav-item{
 width:120px !important;
}

.genre-preview{
  display: flex;
  justify-content: space-between;
}

 .alert{
  background-color: #FFE100;
  color: black;
}

.chat-room-form{
   min-height: 280px;
}

.like-icon{
  color: #FF6388;
}

.reject-icon{
  color: #FF3333;
}

.bell-icon{
   color: orange;
}

.error_explanation{
  background-color: #ff381a;
  color: #FFFFFF;
}

.follow-icon{
  color: #6495ed;
}

.footer{
    width: 100%;
}

.no-wrap{
    white-space:nowrap;
}

.green{
  color: #009900;
  font-weight:bold;
}

.gray{
  color:#a9a9a9;
  font-weight:bold;
}

.link{
  background:linear-gradient(transparent 80%, #87cefa 0%);
}

.link:hover{
  text-decoration: none;
  background:linear-gradient(transparent 80%, #ffb6c1 0%);
}

.space-between{
  display: flex;
  justify-content: space-between;
}
.caption-user{
      margin-bottom: 2px;
      font-weight: bold;
}

@media screen and (max-width: 575px) {
  .user-information-table,
  .admin-user-table{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .user-information-table th,
  .user-information-table td,
  .admin-user-table th,
  .admin-user-table td{
　　border-bottom: none;
    display: block;
    width: 100%;
  }
  .user-information-table th,
  .user-information-table td{
  text-align: center;
  }
  .user-information-table th{
  background-color: $gray-300;
  }
  .search{
    margin-bottom: 5px;
  }
  .search-submit{
    padding-bottom: 12px;
    border-bottom: 2px solid $gray-200;
  }

  .user-image{
    margin-bottom: 30px;
  }
  .caption-recruit{
      margin-bottom: 1px;
      font-weight: bold;
    }
}

@media screen and (min-width: 576px) {
  .caption-recruit{
      font-weight: bold;
    }
}