<div class="container">
  <h3>ユーザー情報照会</h3>
  <div class="row mt-5">
    
    <div class ="col-md-4 mx-auto">
    <% if @user.image.attached? %>
      <%= image_tag @user.image,
      size: "250 X 250", 
      class:"rounded-circle card-img-top" %>
    <% else %>
      <%= image_tag @user.genre.genre_image,
      size: "250 X 250", 
      class:"rounded-circle card-img-top" %>
    <% end %>
    </div>
    
    <div class="col-md-8">
      <%= render '/public/shared/user_information', user: @user, genre: @user.genre %>
      
    </div>
    
  </div>
</div>