<div class="container">
  <div class="row mt-5">
    
    <div class ="col-md-4">
      <!--ユーザー画像の表示-->
      <%= profile_image(@user,@user.genre,250,250) %>
      <p class="mt-2"><%= @user.club_name %></p>
    </div>
    
    <div class="col-md-8">
      <%= render '/public/shared/user_information', user: @user, genre: @genre %>
    </div>
    
  </div>
</div>