<div class="container ">
  <div class ="row">
    <div class="col-md-10 mx-auto">
      <h2>退会します。よろしいですか？</h2>
      <h4 class="mt-5">退会すると、会員登録情報やこれまでの募集・応募記録が閲覧できなくなります。</h4>
      <h4>退会する場合は、『退会する』をクリックしてください。</h4>
      <% if flash.any? %>
      <h2 class="alert alert-danger mt-5"><%= flash[:alret] %></h2>
      <% end %>
    </div>
  </div>  
  
  <div class ="row mt-5">
    <div class="col-md-4  mx-auto">
      <%= link_to '退会を辞める', my_page_path, class:"btn btn-primary btn-lg" %>
      <%= link_to '退会する', user_unsubscribe_path(@user, user: {active_status: false}), method: :patch, "data-confirm" => "本当に退会しますか？", class:"btn btn-danger ml-5 btn-lg" %>
    </div>
  </div>
  
  
</div>